*.pyc
dataset
dataset/
experiments
experiments/
config/occnerf/wild
tools/prepare_wild
tools/prepare_wild/
third_parties/smpl/models/basicModel_neutral_lbs_10_207_0_v1.0.0.pkl
third_parties/smpl/models/SMPL_NEUTRAL.pkl
slurm_logs/